*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: none;
    text-decoration: none;
}

html {
    --white: #FAFAFA;
    --red: #E83F5B;

    --blue-dark: #0D114F;
    --blue: #3485FF;
    --blue-light: #E0ECFF;

    --grey-dark: #4D5E77;
    --grey-blue:#A1B2CD;
    --grey-light: #E5EAF1;

    --background: #F6FAFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    /* USER AGENT: 16px = 1rem = 100% */
     font-size: 62.5%; /* 10px */
}

body{
    height: 100vh;
    background: var(--background);
    display: flex;
}

body, button, input, textarea {
    font-size: clamp(14px, 1.6rem, 2vw); /* intervalo de tamanho de tela(pequena, media, grande) */
    font-family: 'Open Sans', sans-serif;
}

input, button, .button  {
    border-radius: 0.8rem;
    height: 5rem;
}

button, .button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    background: var(--blue);

    cursor: pointer;
    transition: filter .2s;
}

button:hover, .button:hover {
    filter: brightness(1.2);
}

button > img,
.button > img {
    margin-right: 1rem;
    width: 2rem;
}

button.outlined,
.button.outlined{
    background: var(--white);
    color: var(--blue);
    border: .2rem solid var(--blue);
}

.content {
    width: 100%;
    margin: 0 auto;
}

.content header {
    width: 80%;
    margin: 3.5rem auto;
}

.content header img {
    width: 16.7rem;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}